<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demon.blog.mapper.UploadMapper">
  <resultMap id="BaseResultMap" type="com.demon.blog.pojo.Upload">
    <id column="ul_id" jdbcType="INTEGER" property="ulId" />
    <result column="ul_size" jdbcType="INTEGER" property="ulSize" />
    <result column="ul_name" jdbcType="VARCHAR" property="ulName" />
    <result column="ul_origin_name" jdbcType="VARCHAR" property="ulOriginName" />
    <result column="ul_absolute_name" jdbcType="VARCHAR" property="ulAbsoluteName" />
    <result column="ul_format" jdbcType="VARCHAR" property="ulFormat" />
    <result column="ul_intro" jdbcType="VARCHAR" property="ulIntro" />
    <result column="ul_create_by" jdbcType="VARCHAR" property="ulCreateBy" />
    <result column="ul_create_date" jdbcType="TIMESTAMP" property="ulCreateDate" />
    <result column="ul_down_nums" jdbcType="INTEGER" property="ulDownNums" />
  </resultMap>
  <sql id="Base_Column_List">
    ul_id, ul_size, ul_name, ul_origin_name, ul_absolute_name, ul_format, ul_intro, ul_create_by, 
    ul_create_date, ul_down_nums
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cx_upload
    where ul_id = #{ulId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cx_upload
    where ul_id = #{ulId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demon.blog.pojo.Upload">
    insert into cx_upload (ul_id, ul_size, ul_name, 
      ul_origin_name, ul_absolute_name, ul_format, 
      ul_intro, ul_create_by, ul_create_date, 
      ul_down_nums)
    values (#{ulId,jdbcType=INTEGER}, #{ulSize,jdbcType=INTEGER}, #{ulName,jdbcType=VARCHAR}, 
      #{ulOriginName,jdbcType=VARCHAR}, #{ulAbsoluteName,jdbcType=VARCHAR}, #{ulFormat,jdbcType=VARCHAR}, 
      #{ulIntro,jdbcType=VARCHAR}, #{ulCreateBy,jdbcType=VARCHAR}, #{ulCreateDate,jdbcType=TIMESTAMP}, 
      #{ulDownNums,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.demon.blog.pojo.Upload">
    insert into cx_upload
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ulId != null">
        ul_id,
      </if>
      <if test="ulSize != null">
        ul_size,
      </if>
      <if test="ulName != null">
        ul_name,
      </if>
      <if test="ulOriginName != null">
        ul_origin_name,
      </if>
      <if test="ulAbsoluteName != null">
        ul_absolute_name,
      </if>
      <if test="ulFormat != null">
        ul_format,
      </if>
      <if test="ulIntro != null">
        ul_intro,
      </if>
      <if test="ulCreateBy != null">
        ul_create_by,
      </if>
      <if test="ulCreateDate != null">
        ul_create_date,
      </if>
      <if test="ulDownNums != null">
        ul_down_nums,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ulId != null">
        #{ulId,jdbcType=INTEGER},
      </if>
      <if test="ulSize != null">
        #{ulSize,jdbcType=INTEGER},
      </if>
      <if test="ulName != null">
        #{ulName,jdbcType=VARCHAR},
      </if>
      <if test="ulOriginName != null">
        #{ulOriginName,jdbcType=VARCHAR},
      </if>
      <if test="ulAbsoluteName != null">
        #{ulAbsoluteName,jdbcType=VARCHAR},
      </if>
      <if test="ulFormat != null">
        #{ulFormat,jdbcType=VARCHAR},
      </if>
      <if test="ulIntro != null">
        #{ulIntro,jdbcType=VARCHAR},
      </if>
      <if test="ulCreateBy != null">
        #{ulCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="ulCreateDate != null">
        #{ulCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ulDownNums != null">
        #{ulDownNums,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demon.blog.pojo.Upload">
    update cx_upload
    <set>
      <if test="ulSize != null">
        ul_size = #{ulSize,jdbcType=INTEGER},
      </if>
      <if test="ulName != null">
        ul_name = #{ulName,jdbcType=VARCHAR},
      </if>
      <if test="ulOriginName != null">
        ul_origin_name = #{ulOriginName,jdbcType=VARCHAR},
      </if>
      <if test="ulAbsoluteName != null">
        ul_absolute_name = #{ulAbsoluteName,jdbcType=VARCHAR},
      </if>
      <if test="ulFormat != null">
        ul_format = #{ulFormat,jdbcType=VARCHAR},
      </if>
      <if test="ulIntro != null">
        ul_intro = #{ulIntro,jdbcType=VARCHAR},
      </if>
      <if test="ulCreateBy != null">
        ul_create_by = #{ulCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="ulCreateDate != null">
        ul_create_date = #{ulCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ulDownNums != null">
        ul_down_nums = #{ulDownNums,jdbcType=INTEGER},
      </if>
    </set>
    where ul_id = #{ulId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demon.blog.pojo.Upload">
    update cx_upload
    set ul_size = #{ulSize,jdbcType=INTEGER},
      ul_name = #{ulName,jdbcType=VARCHAR},
      ul_origin_name = #{ulOriginName,jdbcType=VARCHAR},
      ul_absolute_name = #{ulAbsoluteName,jdbcType=VARCHAR},
      ul_format = #{ulFormat,jdbcType=VARCHAR},
      ul_intro = #{ulIntro,jdbcType=VARCHAR},
      ul_create_by = #{ulCreateBy,jdbcType=VARCHAR},
      ul_create_date = #{ulCreateDate,jdbcType=TIMESTAMP},
      ul_down_nums = #{ulDownNums,jdbcType=INTEGER}
    where ul_id = #{ulId,jdbcType=INTEGER}
  </update>
</mapper>